
debug/moc_mainwindow.asm
debug/moc_myellipce.asm
debug/moc_myline.asm
debug/moc_mypolygon.asm
debug/moc_myrect.asm
debug/moc_myscene.asm
debug/moc_myshape.asm
debug/moc_predefs.h
debug/moc_predefs.h.cbt
debug/testPaint.exe
debug/testPaint.ilk
debug/testPaint.pdb
x64/Debug/main.obj
x64/Debug/mainwindow.obj
x64/Debug/moc/moc_mainwindow.cpp
x64/Debug/moc/moc_myellipce.cpp
x64/Debug/moc/moc_myline.cpp
x64/Debug/moc/moc_mypolygon.cpp
x64/Debug/moc/moc_myrect.cpp
x64/Debug/moc/moc_myscene.cpp
x64/Debug/moc/moc_myshape.cpp
x64/Debug/moc_mainwindow.obj
x64/Debug/moc_myellipce.obj
x64/Debug/moc_myline.obj
x64/Debug/moc_mypolygon.obj
x64/Debug/moc_myrect.obj
x64/Debug/moc_myscene.obj
x64/Debug/moc_myshape.obj
x64/Debug/myellipce.obj
x64/Debug/myline.obj
x64/Debug/mypolygon.obj
x64/Debug/myrect.obj
x64/Debug/myscene.obj
x64/Debug/myshape.obj
x64/Debug/qt_work.log
x64/Debug/qtvars_hakriog3.glc.designtime.props
x64/Debug/qtvars_x64_Debug.designtime.idx
x64/Debug/qtvars_x64_Debug.props
x64/Debug/testPaint.log
x64/Debug/testPaint.tlog/CL.10612.write.1.tlog
x64/Debug/testPaint.tlog/CL.command.1.tlog
x64/Debug/testPaint.tlog/CL.read.1.tlog
x64/Debug/testPaint.tlog/CustomBuild.command.1.tlog
x64/Debug/testPaint.tlog/CustomBuild.read.1.tlog
x64/Debug/testPaint.tlog/CustomBuild.write.1.tlog
x64/Debug/testPaint.tlog/link.command.1.tlog
x64/Debug/testPaint.tlog/link.read.1.tlog
x64/Debug/testPaint.tlog/link.write.1.tlog
x64/Debug/testPaint.tlog/moc.read.1u.tlog
x64/Debug/testPaint.tlog/moc.write.1u.tlog
x64/Debug/testPaint.tlog/testPaint.lastbuildstate
x64/Debug/testPaint.tlog/testPaint.write.1u.tlog
x64/Debug/testPaint.tlog/uic.read.1u.tlog
x64/Debug/testPaint.tlog/uic.write.1u.tlog
x64/Debug/uic/ui_mainwindow.h
x64/Debug/vc142.pdb
x64/Release/qtvars_dxvxsh53.5y1.designtime.props
x64/Release/qtvars_x64_Release.designtime.idx
x64/Release/qtvars_x64_Release.props
.vs/testPaint/v16/.suo
.vs/testPaint/v16/Browse.VC.db
.vs/testPaint/v16/ipch/AutoPCH/d4d0962601fc9e36/MAIN.ipch
